body{
    margin: 500px;
}
.row1{
    background-color: #fb4e71;
    color: #ffffff;
    padding: 1px;
    padding-left: 6px;
}
.row2,.row3,.row{
    background-color: #e6f6ff;
}
.row3{
    padding-left:9px ;
}
.row2{
    padding-left: 9px;
}